header {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;

}
h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.brushes {
    background-color: mediumspringgreen;
}
.frames {
    background-color: lightcoral;
}
.paint {
    background-color: skyblue;
}
h2 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
p {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: black;

}
.price {
    color: blue;
    font-weight: bold;
}